# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
server/target
stats.html

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## 大文件上传服务中 文件存储位置
/server/largeFileServer/target
## node 静态资源服务
/server/staticResourceServer/static
# jest单元测试结果目录
/coverage
